In [42]:
# pandas kütüphanesini projeye dahil etme
import pandas as pd

In [43]:
#Pandas Serisi, tek boyutlu veri dizilerini etiketlenmiş bir biçimde saklayan ve üzerinde işlemler yapmayı sağlayan veri yapısıdır.
obje = pd.Series([1,"Ali",3.5,"Hey"])
obje

0      1
1    Ali
2    3.5
3    Hey
dtype: object

In [44]:
#Seriler üzerinde işlemler
obje[3] #bu şekilde istediğimiz indexteki elemanı çağırabiliriz
obje.values #bu işlem ile Seriyi dizi şeklinde yazdırabiliriz

array([1, 'Ali', 3.5, 'Hey'], dtype=object)

In [45]:
obje = pd.Series([1,"Ali",3.5,"Hey"],index=["a","b","c","d"]) #bu şekilde Serinin indexini 1 2 3 4 den a b c d ye çevirdik
obje

a      1
b    Ali
c    3.5
d    Hey
dtype: object

In [46]:
#bir üst satırda yaptığımız işlem sayesinde artık aşağıdaki gibi çağırma işlemi yapabiliriz
# obje[1] : bu şekilde çağırmaya çalışırsak hata ile karşılaşacağız 

obje["a"]
obje["b"]

'Ali'

In [47]:
obje.index #objenin index yapısını öğrenmek için

Index(['a', 'b', 'c', 'd'], dtype='object')

In [48]:
#sözlük tuple liste gibi veri yapıları series veri yapısına çevirilebilir
puan = {"Ali":90 ,"Oğuz":80,"Funda":100}
nt = pd.Series(puan)
nt

Ali       90
Oğuz      80
Funda    100
dtype: int64

In [49]:
# Seriler üzerinde mantıksal işlemler de yapılabilir
nt [ nt > 85 ] #bu işlem bize notları 85 üzerinde olanları getirir

Ali       90
Funda    100
dtype: int64

In [50]:
# Eğer bu şekilde yaparsak da tüm Series üzerinde True False döndürür
nt < 85

Ali      False
Oğuz      True
Funda    False
dtype: bool

In [51]:
# Verileri değiştirme işlemi aşağıdaki gibi yapılabilir 
nt["Oğuz"] = 60 
nt

Ali       90
Oğuz      60
Funda    100
dtype: int64

In [52]:
#belli bir aralıktaki değerleri de güncelleyebiliriz aşağıda notu 95 den küçük olanlar 83 değeri ile değiştirilecek
nt [nt < 95] = 83
nt

Ali       83
Oğuz      83
Funda    100
dtype: int64

In [53]:
#bir verinin Series de olup olmadığını kontrol edebiliriz 
"Oğuz" in nt #True
"Fatih" in nt #False

False

In [55]:
#Seriesler üzerinde matematiksel işlemler yapılabilir ama işlemler ana Seriesi değiştirmez değiştirmesi için 
# nt = nt / 20 gibi kullanılmalıdır
nt / 20 
nt ** 2

Ali      4.15
Oğuz     4.15
Funda    5.00
dtype: float64

In [57]:
# eksik değer sorgulaması yapmak için aşağıdaki metod kullanılır eğer bir indexin karşısı boşsa true değilse false döner
nt.isnull()

Ali      False
Oğuz     False
Funda    False
dtype: bool