In [47]:
import pandas as pd
import numpy as np

In [48]:
#öncelikle numpy ve pandas ı bir arada kullanarak bir veri oluşturalım
obje = pd.Series(np.arange(5),index=["a","b","c","d","e"])
obje

a    0
b    1
c    2
d    3
e    4
dtype: int32

In [49]:
#aşağıdaki şekilde verilere erişim sağlayabiliriz
obje["c"]

2

In [50]:
#sadece belli bir index aralığındaki verileri de yazdırabiliriz 
obje[0:3]

a    0
b    1
c    2
dtype: int32

In [51]:
#belli satırları yazdırma ikisi de aynı işlev
obje[[0,2]]
obje[["a","c"]]

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_33444\355107477.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  obje[[0,2]]

a    0
c    2
dtype: int32

In [52]:
# 2 den küçük değerleri yazdırmak için 
obje[ obje < 2 ]

a    0
b    1
dtype: int32

In [53]:
#pandas da dilimleme işleminde son nokta dilimlemeye dahildir (pythonda kullanılan dilimlemede dahil değildi)
obje["a" : "c"]

a    0
b    1
c    2
dtype: int32

In [54]:
#dilimlenen kısma değer ataması yapılabilir
deger = [10,11,15]
obje["a":"c"] = deger
obje

a    10
b    11
c    15
d     3
e     4
dtype: int32

## dataFrame için indexleme

In [55]:
veri = pd.DataFrame(np.arange(16).reshape(4,4),index=["izmir","istanbul","ankara","bursa"],columns=["bir","iki","uc","dort"])
veri

          bir  iki  uc  dort
izmir       0    1   2     3
istanbul    4    5   6     7
ankara      8    9  10    11
bursa      12   13  14    15

In [56]:
#indexleme ile direkt olarak veriyi çekebiliriz
veri["iki"]

izmir        1
istanbul     5
ankara       9
bursa       13
Name: iki, dtype: int32

In [57]:
#birden fazla veri için
veri[["bir","iki"]]

          bir  iki
izmir       0    1
istanbul    4    5
ankara      8    9
bursa      12   13

In [58]:
#dilimleme işlemi
veri[:3]
#3 indeksine kadar olan değerleri yazdırır

          bir  iki  uc  dort
izmir       0    1   2     3
istanbul    4    5   6     7
ankara      8    9  10    11

In [59]:
#boolean ifadelerle de işlem yapabiliriz
veri[veri["dort"]>5]
# dort sütununda 5 den büyük olan satırların tamamını yazdırır

          bir  iki  uc  dort
istanbul    4    5   6     7
ankara      8    9  10    11
bursa      12   13  14    15

In [60]:
#dataframedeki değerlerde doğrudan değişiklik yapabiliriz 
veri[veri<5] = 0
#değeri 5 den küçük olanlar 0 a eşitlenecek
veri

          bir  iki  uc  dort
izmir       0    0   0     0
istanbul    0    5   6     7
ankara      8    9  10    11
bursa      12   13  14    15

In [61]:
#satır bazında işlemler için iloc veya loc kullanılır indexler ile işlem için iloc etiketler ile işlemler için loc kullanılır
veri.iloc[1]
#1. indexe sahip satırı getirir

bir     0
iki     5
uc      6
dort    7
Name: istanbul, dtype: int32

In [62]:
#1. indexe sahip satırın 1 2 3 indexlerine sahip sütunlarını getirir
veri.iloc[1,[1,2,3]]

iki     5
uc      6
dort    7
Name: istanbul, dtype: int32

In [63]:
#1. ve 3. indexe sahip satırların 1 2 3 indexlerine sahip sütunlarını getirir
veri.iloc[[1,3],[1,2,3]]

          iki  uc  dort
istanbul    5   6     7
bursa      13  14    15

In [64]:
#aynı işlemleri etiket adları ile yapabiliriz
veri.loc["bursa",["bir","iki","uc"]]

bir    12
iki    13
uc     14
Name: bursa, dtype: int32

In [65]:
#istanbula kadar olan satırların 4. sütununu seçmek için
veri.loc[:"istanbul","dort"]

izmir       0
istanbul    7
Name: dort, dtype: int32