In [1]:
import pandas as pd

In [2]:
s = pd.Series([1,2,3,4],index=["a","b","c","d"])
s

a    1
b    2
c    3
d    4
dtype: int64

In [3]:
#s serisinin indexlerini yeniden şekillendirerek s2 yi oluşturduk
s2 = s.reindex(["b","d","a","c","e"])
s2
# e adında bir sütun ekledik ama değer atamadığımız için eksik veri olarak görünüyor

b    2.0
d    4.0
a    1.0
c    3.0
e    NaN
dtype: float64

In [4]:
s3 = pd.Series(["mavi","sarı","mor"],index=[0,2,4])
s3

0    mavi
2    sarı
4     mor
dtype: object

In [6]:
#s3 ü range() fonksiyonu ile 6 adet indexe güncelledik ffill ile de boş indexleri doldurduk 
s3.reindex(range(6),method="ffill")

0    mavi
1    mavi
2    sarı
3    sarı
4     mor
5     mor
dtype: object

In [7]:
import numpy as np

In [12]:
df = pd.DataFrame(np.arange(9).reshape(3,3),index=["a","c","d"],columns=["ali","efe","mete"])
df

   ali  efe  mete
a    0    1     2
c    3    4     5
d    6    7     8

In [13]:
#reindex metodu ile dataFrame üzerinde de işlemler yapabiliriz
df2 = df.reindex(["d","c","b","a"])
df2

   ali  efe  mete
d  6.0  7.0   8.0
c  3.0  4.0   5.0
b  NaN  NaN   NaN
a  0.0  1.0   2.0

In [14]:
isim = ["efe","nur","ali"]
df.reindex(columns=isim)

   efe  nur  ali
a    1  NaN    0
c    4  NaN    3
d    7  NaN    6

In [15]:
df.loc[["c","d","a"]]

   ali  efe  mete
c    3    4     5
d    6    7     8
a    0    1     2

In [17]:
s = pd.Series(np.arange(5.),index=["a","b","c","d","e"])
s

a    0.0
b    1.0
c    2.0
d    3.0
e    4.0
dtype: float64

In [18]:
#satır silmek için
yeni_s = s.drop("b")
yeni_s

a    0.0
c    2.0
d    3.0
e    4.0
dtype: float64

In [19]:
#birden fazla satır silmek için
s.drop(["c","d"])
#silme işlemi kalıcı değildir tekrar s yi yazdırırsak bu satırlar dahil olacak yukarıdaki gibi yaparsak yeni_s üzerinden devam ettiğimizde
#sildiğimiz satırlar silinmiş olacak

a    0.0
b    1.0
e    4.0
dtype: float64

In [21]:
#dataFrame üzerinde satır silme işlemi 
veri = pd.DataFrame(np.arange(16).reshape(4,4),index=["ali","veli","efe","nur"], columns=list("ABCD"))
veri

       A   B   C   D
ali    0   1   2   3
veli   4   5   6   7
efe    8   9  10  11
nur   12  13  14  15

In [24]:
#sütun silme işleminde axis=1 parametresi kullanılır 
veri.drop("A",axis=1)

       B   C   D
ali    1   2   3
veli   5   6   7
efe    9  10  11
nur   13  14  15

In [25]:
#satır silmek için de axis=0 parametresi kullanılır
veri.drop("ali",axis=0)

       A   B   C   D
veli   4   5   6   7
efe    8   9  10  11
nur   12  13  14  15

In [26]:
#mean metodu da axis parametresine göre işlem yapabilir
#axis bilgisi girmezsek her bir sütun için satırların ortalamasını alır 
veri.mean()

A    6.0
B    7.0
C    8.0
D    9.0
dtype: float64

In [30]:
#axis = 0 girdiğimizde her bir satır için sütunların ortalamasını alır
veri.mean(axis=1)

ali      1.5
veli     5.5
efe      9.5
nur     13.5
dtype: float64