In [1]:
import pandas as pd ; import numpy as np

In [5]:
df = pd.DataFrame([[2.4,np.nan],[6.3,-5.4],[np.nan,np.nan],[0.75,-1.3]],index=["a","b","c","d"],columns=["bir","iki"])
df

    bir  iki
a  2.40  NaN
b  6.30 -5.4
c   NaN  NaN
d  0.75 -1.3

In [6]:
#sütunların toplamını veren series veri yapısını veren metod
df.sum()

bir    9.45
iki   -6.70
dtype: float64

In [8]:
#satırların toplamı için  axis = 1 parametresi verilmeli 
df.sum(axis=1)

a    2.40
b    0.90
c    0.00
d   -0.55
dtype: float64

In [9]:
#ortalamaları bulmak için
df.mean()

bir    3.15
iki   -3.35
dtype: float64

In [10]:
#satır ortalamaları için
df.mean(axis=1)

a    2.400
b    0.450
c      NaN
d   -0.275
dtype: float64

In [17]:
#eksik veri olan satırların ortalamalarının hesaplanmamamsını istiyorsak(1 tane bile eksik veri varsa)
df.mean(axis=1,skipna=False)

a      NaN
b    0.450
c      NaN
d   -0.275
dtype: float64

In [19]:
#sütunlar için maximum index değerine sahip satırları bulmak için 
df.idxmax()
#çıktı olarak o sütunda max olan değerin olduğu satırı verecektir

bir    b
iki    d
dtype: object

In [20]:
#min için
df.idxmin()

bir    d
iki    b
dtype: object

In [21]:
#dataFrame'in kümülatif(birikimli) toplamını bulmak için
df.cumsum()

    bir  iki
a  2.40  NaN
b  8.70 -5.4
c   NaN  NaN
d  9.45 -6.7

In [23]:
#özet bilgiler için 
df.describe()

         bir       iki
count  3.000  2.000000
mean   3.150 -3.350000
std    2.850  2.899138
min    0.750 -5.400000
25%    1.575 -4.375000
50%    2.400 -3.350000
75%    4.350 -2.325000
max    6.300 -1.300000

In [24]:
#yukarıdaki tablonun transpozunu alırsak
df.describe().T

     count  mean       std   min    25%   50%    75%  max
bir    3.0  3.15  2.850000  0.75  1.575  2.40  4.350  6.3
iki    2.0 -3.35  2.899138 -5.40 -4.375 -3.35 -2.325 -1.3

## korelasyon

korelasyon nedir?

Korelasyon istatistikte iki değişken arasındaki ilişkiyi ifade eder. Eğer iki değişken birlikte hareket ediyorsa, yani biri artarken diğeri de artıyorsa veya biri azalırken diğeri de azalıyorsa, bu durumda bu değişkenler arasında pozitif bir korelasyon vardır denir. Öte yandan, eğer bir değişken artarken diğeri azalıyorsa veya tam tersi şekilde bir ilişki gözleniyorsa, bu durumda bu değişkenler arasında negatif bir korelasyon vardır denir. Korelasyon genellikle -1 ile +1 arasında bir değer alır. Eğer korelasyon katsayısı +1'e yaklaşıyorsa, bu durumda iki değişken arasında mükemmel bir pozitif ilişki olduğunu ifade eder. Eğer korelasyon katsayısı -1'e yaklaşıyorsa, bu durumda iki değişken arasında mükemmel bir negatif ilişki olduğunu ifade eder. Korelasyon katsayısı 0'a yaklaşıyorsa, bu durumda iki değişken arasında bir ilişki olmadığı veya ilişkinin çok zayıf olduğu söylenebilir.

In [25]:
iris = pd.read_table("DataSets\\iris.txt")

In [26]:
iris.head()

,Canak_yaprak_boyu,Canak_yaprak_eni,Tac_yaprak_boyu,Tac_yaprak_eni,Turu
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa

In [27]:
#tac yaprak boyu ile taç yaprak eni arasındaki korelasyonu bulalım
iris["Tac_yaprak_boyu"].corr(iris["Tac_yaprak_eni"])

# çıktı bize : 0.9628654314027963 değerini veriyor bu iki değer arasında mükemmele yakın bir ilişki olduğunu gösterir

0.9628654314027963

In [30]:
#eğer tek tek değil de bütün değişkenlerin ikili korelasyonunu dataFrame olarak görmek istersek
#iris2 değişkeninde yaptığımız şey; iris dosyamızdaki Turu sütunu string ifadelerden oluştuğu için hata alıyorduk
#iris2 değişkeninden Turu sütununu çıkarıp sayısal verilerle işlem yaptık

iris2 = iris.drop("Turu",axis=1)
iris2.corr()

,Canak_yaprak_boyu,Canak_yaprak_eni,Tac_yaprak_boyu,Tac_yaprak_eni
Canak_yaprak_boyu,1.000000,-0.117570,0.871754,0.817941
Canak_yaprak_eni,-0.117570,1.000000,-0.428440,-0.366126
Tac_yaprak_boyu,0.871754,-0.428440,1.000000,0.962865
Tac_yaprak_eni,0.817941,-0.366126,0.962865,1.000000

Kovaryans nedir ? 

Kovaryans, iki değişken arasındaki ilişkinin, birbirlerine nasıl değiştiğini ölçen bir istatistiksel terimdir. Kovaryans, bu değişkenler arasındaki ilişkinin yönünü (pozitif veya negatif) ve gücünü (ne kadar güçlü bir ilişki olduğunu) belirler.
Eğer iki değişken birlikte hareket ediyorsa, yani biri artarken diğeri de artıyorsa, pozitif bir kovaryans vardır. Öte yandan, bir değişken artarken diğeri azalıyorsa, negatif bir kovaryans söz konusudur. Kovaryansın mutlak değeri, değişkenler arasındaki ilişkinin gücünü gösterir. Ancak, kovaryansın değeri, değişkenlerin ölçeklerine bağlıdır, bu yüzden doğrudan karşılaştırılması zordur.

#

In [32]:
#kovaryans hesaplamak için
iris2 = iris.drop("Turu",axis=1)
iris2.cov()

,Canak_yaprak_boyu,Canak_yaprak_eni,Tac_yaprak_boyu,Tac_yaprak_eni
Canak_yaprak_boyu,0.685694,-0.042434,1.274315,0.516271
Canak_yaprak_eni,-0.042434,0.189979,-0.329656,-0.121639
Tac_yaprak_boyu,1.274315,-0.329656,3.116278,1.295609
Tac_yaprak_eni,0.516271,-0.121639,1.295609,0.581006

In [35]:
#belli bir değişken ile veri setindeki diğer değişkenlerin ikili korelasyonunu hesaplamak istiyorsak
iris2 = iris.drop("Turu",axis=1)
iris2.corrwith(iris.Canak_yaprak_boyu)

Canak_yaprak_boyu    1.000000
Canak_yaprak_eni    -0.117570
Tac_yaprak_boyu      0.871754
Tac_yaprak_eni       0.817941
dtype: float64